.sidebar-hide {
  position: fixed;
  left: -280px;
  top: 64px;
  transition: left 0.08s linear;
}

.sidebar-show {
  position: fixed;
  left: 0;
  top: 64px;
  transition: left 0.08s linear;
  z-index: 1;
}

.sidebar-hide, .sidebar-show {
  background-color: var(--light-grey);
  border-right: 1px solid;
  border-color: var(--light-grey);
}

.sidebar-width1 {
  min-width: 280px;
  transition: width 0.08s linear;
}

.sidebar-width0 {
  width: 0;
  transition: width 0.08s linear;
}

.sidebar-show, .sidebar-hide {
  min-width: 280px;
  font-size: 13px;
  font-weight: bold;
  color: var(--dark-grey);
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar-show:hover {
  overflow-y: scroll;
}

.sidebar-top, .sidebar-bottom, .sidebar-collections {
  display: flex;
  flex-direction: column;
}

.sidebar-top, .sidebar-bottom, .sidebar-collections {
  padding: 9px 0;
}

.sidebar-top, .sidebar-collections {
  border-bottom: 1px solid;
  border-color: #dbdbdb;
}

.sidebar-item, .sidebar-collection-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}

.sidebar-item:hover, .sidebar-collection-item:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.sidebar-item-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 13px 2px 13px 10px;
  box-sizing: border-box;
  min-width: 160px;
  max-width: 160px;
  box-sizing: border-box;
}

.sidebar-item-icon {
  font-size: 20px;
  padding: 8px 10px 8px 20px;
  min-width: 50px;
  box-sizing: border-box;
}

.collection-header {
  padding: 8px 20px;
  color: black;
}

.sidebar-collection-item > .sidebar-item-text {
  min-width: 160px;
  max-width: 160px;
}

.sidebar-collection-item > .sidebar-item-icon {
  font-size: 18px;
}

.collection-item-options {
  font-size: 15px;
  padding: 7px 0px 10px 10px;
  color: var(--med-grey);
  display: none;
}

.collection-item-options:hover {
  color: var(--dark-grey);
}

.sidebar-collection-item:hover .collection-item-options {
  display: block;
}

.sidebar-space {
  height: 100px;
}

.select-collection-link {
  display: flex;
  flex-direction: row;
  color: var(--dark-grey);
}

.sidebar-about:visited {
  color: var(--dark-grey);
}
