.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 5px 5px 5px;
  width: 90%;
}

.individual-tag {
  display: inline-block;
  background-color: #dbdbdb;
  font-size: 11px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 2px 5px;
  border-radius: 2px;
}
