.tag-form, .tag-form-checkboxes {
  display: flex;
  flex-direction: column;
}

.tag-form {
  position: absolute;
  top: -35px;
  right: 0;
  z-index: 1;
  font-size: 13px;
}

.tag-form-label {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 150px;
  min-width: 150px;
  padding: 4px 10px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid;
  border-color: var(--med-light-grey);
  border-radius: 3px;
}

.tag-form-label:hover {
  cursor: pointer;
}

.tag-form-checkboxes-show, .tag-form-checkboxes-hide {
  position: absolute;
  top: 34px;
  right: 0px;
  overflow-y: scroll;
  overflow-x: scroll;
  background-color: white;
  border: 1.5px solid;
  border-color: var(--med-light-grey);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
  padding: 10px 5px;
  height: 200px;
  max-width: 210px;
  min-width: 210px;
  z-index: 2;
}

.tag-form-checkboxes-show {
  display: block;
}

.tag-form-checkboxes-hide {
  display: none;
}

.tag-form-checkboxes-show > .checkbox {
  white-space: nowrap;
  display: block;
  padding: 6px 0;
  margin-right: 5px;
  min-height: 25px;
  max-height: 25px;
  box-sizing: border-box;
}

.tag-form-checkboxes-show > .checkbox:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}
