.sidebar-hide {
  display: none;
}

.sidebar-show {
  min-width: 280px;
  font-size: 13px;
  font-weight: bold;
  color: var(--dark-grey);
  overflow-y: hidden;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar-show:hover {
  overflow-y: scroll;
}

.sidebar-top, .sidebar-bottom, .sidebar-collections {
  display: flex;
  flex-direction: column;
}

.sidebar-top, .sidebar-bottom, .sidebar-collections {
  padding: 9px 0;
}

.sidebar-top, .sidebar-collections {
  border-bottom: 1px solid;
  border-color: var(--light-grey);
}

.sidebar-item, .sidebar-collection-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}

.sidebar-item:hover, .sidebar-collection-item:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}

.sidebar-item-text {
  width: 231px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 13px 2px 13px 10px;
  box-sizing: border-box;
  min-width: 230px;
  max-width: 230px;
}

.sidebar-item-icon {
  font-size: 20px;
  padding: 8px 10px 8px 20px;
  min-width: 50px;
  box-sizing: border-box;
}

.sidebar-collection-item > .sidebar-item-text {
  min-width: 160px;
  max-width: 160px;
}

.sidebar-collection-item > .sidebar-item-icon {
  font-size: 18px;
}

.collection-item-options {
  font-size: 15px;
  padding: 7px 0px 10px 10px;
  color: var(--med-grey);
  display: none;
}

.collection-item-options:hover {
  color: var(--dark-grey);
}

.sidebar-collection-item:hover .collection-item-options {
  display: block;
}

.sidebar-space {
  height: 100px;
}
