.white {
  background-color: white;
}

.yellow {
  background-color: #FFF7C0;
}

.green {
  background-color: #B4D8C0;
}

.blue {
  background-color: #CAEBF2;
}

.red {
  background-color: #EEB6B7;
}

.lavender {
  background-color: #e6e6fa;
}

.color-choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 180px;
  margin: 0 auto;
}

.color-choice {
  box-sizing: border-box;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  margin: 10px;
  border: 1px solid gray;
}

.color-choice:hover {
  border: 2px solid gray;
}

.color-choice-header {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.color-selected, .color-selected:hover {
  border: 3px solid gray;
}
