// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-image {
  background-image: image-url("notebook.jpeg");
  background-position: 0px -100px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  min-height: 650px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-image:before {
    background-color: black;
    height: 100%;
    width: 100%;
    content: "";
    opacity: 0.3;
    position: absolute;
    z-index: -1;
}

.auth-header {
  font-size: 40px;
  padding: 0px 25px;
  height: 64px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.auth-header-right {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  min-width: 200px;
}

.auth-header-right > div {
  padding: 8px 0;
  box-sizing: border-box;
}

.auth-header-right > div:hover {
  cursor: pointer;
}

.auth-logo {
  min-width: 200px;
}

.auth-header-info {
  font-size: 22px;
}

.auth-greeting {
  font-family: 'Roboto Slab', serif;
  height: 300px;
  position: absolute;
  left: 17%;
  top: 30%;
  font-size: 50px;
  color: white;
  min-width: 570px;
}

.auth-tagline {
  background: rgba(200, 200, 200, .25);
  padding: 0 10px;
  min-width: 570px;
}

.guest-demo-button, .auth-form-button {
  border: 0;
  padding: 12px 38px;
  color: white;
  background-color: rgb(62, 80, 180);
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #314090;
  margin-top: 48px;
  width: 200px;
  outline: none;
}

.auth-form-button {
  margin-top: 20px;
}

.guest-demo-button:hover, .auth-form-button:hover {
  cursor: pointer;
  background-color: #314090;
}

.linkedin {
  color: white;
}

.linkedin:visited {
  color: white;
}

.auth-form-container, .auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.auth-form {
  height: 230px;
}

.auth-form-header {
  font-size: 20px;
  color: var(--dark-grey);
  margin: 15px;
}

.auth-form-input {
  border: 0;
  margin: 0;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid;
  border-color: var(--med-grey);
  padding: 15px 15px;
  width: 250px;
  margin: 3px;
  text-align: left;
  font-size: 14px;
  outline: none;
  background-color: transparent;
}

.auth-errors {
  font-size: 12px;
  color: red;
  text-align: center;
  min-height: 30px;
  padding-top: 10px;
}
