// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-image {
  background-image: url('https://hd.unsplash.com/photo-1414919823178-e9d9d0afd0ac');
  background-position: 0px -100px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  min-height: 570px;
  height: 83%;
  top: 64px;
  left: 0;
  z-index: -1;
}

.auth-header {
  font-size: 40px;
  padding: 0px 25px;
  height: 64px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
}

.auth-header-right {
  color: var(--dark-grey);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  min-width: 200px;
}

.auth-header-right > div:hover {
  color: black;
  cursor: pointer;
}

.auth-header-info {
  font-size: 22px;
}

.auth-greeting {
  font-family: 'Roboto Slab', serif;
  height: 300px;
  position: absolute;
  left: 7%;
  top: 30%;
  font-size: 50px;
  color: white;
  min-width: 650px;
}

.auth-tagline {
  background: rgba(200, 200, 200, .25);
}

.guest-demo-button {
  border: 0;
  padding: 12px 38px;
  color: white;
  background-color: rgb(62, 80, 180);
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #314090;
  margin-top: 48px;
  width: 200px;
  outline: none;
}

.guest-demo-button:hover {
  cursor: pointer;
  background-color: #314090;
}


// .background-image h1 {
//   font-size: 80px;
//   padding-bottom: 3px;
//   letter-spacing: 2px;
//   font-family: 'Roboto', sans-serif;
// }
//
// .background-image h3 {
//   font-size: 32px;
// }
//
//
//
// .auth-content {
//   position: relative;
//   top: 230;
//   min-width: 800px;
//   min-height: 300px;
// }
//
// .auth-form-container {
//   height: 236px;
//   position: absolute;
//   right: 0%;
//   top: 15%;
// }
//
// .auth-form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 20px 0;
//   font-size: 14px;
//   background: rgba(180, 180, 180, 0.7);
//   border-radius: 3px;
//   box-shadow: 2px 2px 1px rgba(0,0,0,0.19),inset 0 -2px 0 #c6c6c6;
//   width: 330px;
// }
//
// .auth-form-input {
//   border: 0;
//   margin: 0;
//   appearance: none;
//   box-shadow: none;
//   border-radius: none;
//   border-bottom: 1px solid;
//   border-bottom-color: white;
//   padding: 10px 15px;
//   width: 250px;
//   margin-bottom: 13px;
//   text-align: left;
//   font-size: 14px;
//   color: white;
//   outline: none;
//   background-color: transparent;
// }
//
// .auth-form-input::-webkit-input-placeholder {
//    color: white;
// }
// .auth-form-input:-moz-placeholder { /* Firefox 18- */
//    color: white;
// }
// .auth-form-input::-moz-placeholder {  /* Firefox 19+ */
//    color: white;
// }
// .auth-form-input:-ms-input-placeholder {
//    color: white;
// }
//
// .auth-form-button {
//   border: 0;
//   padding: 8px 30px;
//   color: white;
//   background-color: #96aff8;
//   font-size: 14px;
//   border-radius: 3px;
//   box-shadow: 2px 2px 1px rgba(0,0,0,0.19),inset 0 -2px 0 #87a3f7;
//   margin: 20px 0 20px 0;
//   width: 120px;
//   text-align: center;
//   outline: none;
// }
//
// .auth-form-button:hover {
//   cursor: pointer;
//   background-color: #87a3f7;
// }
//
// .auth-form > a {
//   color: #4962ac;
// }
//
// .auth-form > a:visited {
//   color: #4962ac;
// }
//
// .auth-form > a:hover {
//   color: #5470c4;
// }
//

//
// .greeting {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: auto;
//   height: 300px;
//   position: absolute;
//   left: 0;
//   top: 0;
// }
//
// .auth-errors > li {
//   color: red;
//   font-size: 12px;
//   padding-top: 5px;
// }
