/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


:root {
  --background-grey: #f2f2f2;
  --light-grey: #e9e9e9;
  --med-light-grey: #b8b8b8;
  --med-grey: #939393;
  --dark-grey: #5c5c5c;
  --button-hover-grey: #cdcdcd;
}

body {
  background-color: var(--background-grey);
}

.body {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.dashboard {
  width: 100%;
  position: relative;
  height: 90vh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  color: var(--med-gray);
}

::-webkit-scrollbar-track:vertical {
  background: var(--light-grey);
}

::-webkit-scrollbar-thumb:vertical {
  background: var(--med-light-grey);
}

::-webkit-scrollbar-track:horizontal {
  background: var(--light-grey);
}

::-webkit-scrollbar-thumb:horizontal {
  background: var(--med-light-grey);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--med-light-grey);
}
