<!DOCTYPE html>
<html>
<head>
  <title>NotedApp</title>
  <script src="https://use.fontawesome.com/5bd234e320.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:500|Roboto+Mono:300|Roboto+Slab:300|Poppins" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
